Repository madigan/clocklin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Implement Bun static file server
  index.ts
Due: eslint --fix, prettier --write

Create responsive landing page with HTMX and UnoCSS
  public/index.html
  public/styles.css
  uno.config.ts
Due: eslint --fix, prettier --write

Add Docker and Fly.io deployment configuration
  .dockerignore
  Dockerfile
  fly.toml
Due: none

Fix Claude Code Review workflow permissions and configuration
  .claude/commands/.gitkeep
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

Remove non-functional waitlist button from landing page
  public/index.html
  public/styles.css
Due: prettier --write

Update UnoCSS configuration to latest standards
  bun.lock
  package.json
  public/styles.css
  uno.config.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,js}
  prettier --write: (any of: *.{ts,js}) or (any of: *.{json,md,html})
